* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
Colors:

Darkpink: E94B64
Lightpink: FFCED6
Almost black: 333333
Darkgrey: 757575
Lightergrey: 9F9F9F
Almost white: FAFAFA

*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

/* ------- Start page ------- */

#startPage main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startPage h1 {
    font-size: 40px;
    margin-bottom: 70px;
}

#startPage div {
    border-radius: 50px;
    background-color: #E94B64;
    width: 165px;
    text-align: center;
}

#startPage div a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #FAFAFA;
}

header {
    display: flex;
    justify-content: center;
    margin: 40px;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #E94B64;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    background: #E94B64;
    box-shadow: 0px 5px 15px rgba(233, 75, 100, 0.35);
    border-radius: 15px;
    width: 90vw;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #FAFAFA;
    position: fixed;
    bottom: 20px;

    background: #FAFAFA;
    box-shadow: 0px 5px 15px rgba(233, 75, 100, 0.35);
    border-radius: 15px;

}

header nav a {
    color: #E94B64;
}

main {
    margin: 15px;
}

div select {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
}

form input {
    border: none;
    background: #FAFAFA;
    box-shadow: inset 0px 4px 4px 3px rgba(255, 206, 214, 0.2);
    border-radius: 50px;
    width: 90vw;
    height: 35px;
    padding: 10px 20px 10px 20px;
}

form input::placeholder {
    font-size: 12px;
    color: #9F9F9F;
    font-weight: lighter;

}

form #submitBtn {
    border: none;
    background: #E94B64;
    box-shadow: 0px 5px 15px rgba(233, 75, 100, 0.35);
    border-radius: 15px;
    width: 90vw;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #FAFAFA;
    position: fixed;
    bottom: 20px;
}

#result {
    margin-top: 20px;
    margin-bottom: 100px;
}

#result div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #333333;

    background: #FAFAFA;
    box-shadow: 0px 4px 4px 2px rgba(255, 206, 214, 0.2);
    border-radius: 20px;

    
    
}

#result div h4{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    margin-left: 30%;
    position: relative; /* gör så att h4 ligger på sökknappen.. */ 
}

#result div p {
    font-size: 10px;
    font-weight: normal;
    margin-left: 30%;
}

#result div .distanceClass {
    font-size: 12px;
    font-weight: bold;
    color: #E94B64;
    position: absolute;
    right: 80px;
    
}

#result div a {
    margin-top: 20px;
}

div h4 {
    font-size: 12px;
}

div p {
    font-size: 11px;
    font-weight: normal;
}

#filterOptions h3 {
    margin-top: 30px;
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
}

#priceRange {
    margin: 20px 0px;
}

#priceRange div {
    display: flex;
}

#priceRange button {
    padding: 5px;
    margin: 5px 10px;
}

/* active button*/

.activeBtn,
.activeBtnCuisine,
.activeDistanceBtn {
    background-color: #E94B64;
}


#searchInputBtn {
    border: none;
    background: #FAFAFA;
    box-shadow: inset 0px 4px 4px 3px rgba(255, 206, 214, 0.2);
    border-radius: 50px;
    width: 90vw;
    height: 35px;
    padding: 10px 20px 10px 20px;

    text-decoration: none;
    font-size: 12px;
    text-align: left;
    color: #9F9F9F;
    font-weight: lighter;

}

/* ------- SEARCH PAGE --------- */

#searchPageHeader {
    position: relative;
}

#searchPageHeader a {

    position: absolute;
    left: 10px;
    color: black;

}

#favoritesPage h4 {
    color: #333333;
    font-weight: normal;
    font-size: 16px;
}

.heartBtn {
    color: #E94B64;
}

.fa-heart {
    pointer-events: none;
}